<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

    <title>Smart Album</title>

	<link href="css/bootstrap.css" rel="stylesheet"></link>
	<link href="css/bootstrap-theme" rel="stylesheet"></link>
	<link href="css/smartalbum.css" rel="stylesheet"></link>
	<link href="css/lightgallery.css" rel="stylesheet"></link>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

	<back

</head>
<body background="images/background.png">

<div class="container">
	

	<div class="container login-title">
		<div class="row">
			<div class="col-xs-12">
				<h1 align="center">Smart Album</h1>
			</div>
		</div>
	</div>

	<div class = "container login-login">
		<button type="button" class="btn btn-link login-btn">Login</button>
		<button type="button" class="btn btn-link create-acct-btn">Create Account</button>
	</div>

	<div class = "container row vertical-center">

		<div class = "col-xs-12">
			<form>
				<div class = "form-group login-textfields">
					<input type="Email" class = "form-control" name="loginEmail" placeholder="Email">
				</div>
				<div class = "form-group login-textfields">
					<input type="Password" class = "form-control" name="loginEmail" placeholder="Password">
				</div>
			</form>	
		</div>

	</div>	
	<div class = "container login-continue">
	<a href="index" float = "right">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	</a>
	</div>

</div>

</body>
</html>