<!doctype html>

<html>
<head>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

    <title>Upload</title>

	<link href="css/bootstrap.css" rel="stylesheet"></link>
	<link href="css/bootstrap-theme.css" rel="stylesheet"></link>
	<link href="css/smartalbum.css" rel="stylesheet"></link>
	<link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"></link>
	<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
</head>

<body>
	
	<div class="container">
		<div class="row">
			<div align="center" class="col-xs-4">
				<a href="index">
				<button class="btn btn-default btn-lg topPadding"><span class="glyphicon glyphicon-chevron-left"></span> Gallery</button>
				</a>
			</div>
			<div class="col-xs-4">
				<h2 align="center">Upload</h2>
			</div>
		</div>
	</div>	
	
	<div class="container">
		<div class="row">
		<form id="file-form">
  			<input type="file" id="file-select" accept="image/*" name="photos[]" multiple/>
		</form>	
		</div>
	</div>
	
	<br>
	<div class="container">
		<a data-toggle="modal">
        	<div align="center" class="col-xs-8">	
						<button id="voice" type="button" onclick="categorize()" class="btn btn-default btn-lg">Categorize Me!</button>
			</div>
               
        </a>
					
	</div>

	<script src="js/fileUpload.js"></script>

</body>

</html>
