body {
	font-family: 'Roboto', 'Helvetica Neue', sans-serif !important;
}

#bottomButton {
	position: fixed;
	bottom: 10px;
	width: 100vw;
	width: 100%;
}

#voice {
	position: fixed;
	bottom: 0;
	margin-bottom: 20px;
}

#share {
	position: fixed;
	bottom: 0;
	margin-bottom: 20px;
	border-radius: 50px;
}

/* Login page */

.login-body {
	background-color: #080808 !important;
	height: 100vh;
}

.login-title {
	margin-top: 40vh;
	margin-top: 40%;
	display: flex;
	padding-left: 0;
}

.login-title h1 {
	font-weight: 300;
	color: #fff;
}

.login-login {
	margin-top: 75px;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
}

/* need to add focus to login button, current hack to make blue*/
.login-btn {
	float: left;
	color: #2391d3;
	font-weight: 100;
	width: 50%;
	text-align: left;
	font-size: medium;
}

.login-btn:target {
	color: blue;
}

.create-acct-btn {
	float: right;
	color: #fff;
	font-weight: 200;
	width: 50%;
	text-align: left;
	font-size: medium;
}

.login-textfields {
	background-color: #fff;
	opacity: .4;
	border-radius: 5px 5px 5px 5px;
	font-weight: 200;
}

.login-textfields:focus {
	color: #2391d3;
}

.login-continue {
	border-bottom: 1px solid #2391d3;
	color: #2391d3;
}

.login-continue a {
	float: right;
}

.vertical-center {
   display: flex;
   align-items: center;
   padding-left: 0;
   margin-top: 3vh;
}

.topPadding {
	margin-top: 20px;
}




.permissions-btn:focus {
	background: #3DFF51;
}

/* Homescreen */

.homescreen-body {
	background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
	background-size: 100% 500%;
    -webkit-animation: rainbow 5s ease infinite;
    -z-animation: rainbow 10s ease infinite;
    -o-animation: rainbow 10s ease infinite;
    animation: rainbow 10s ease infinite;
    height: 100%;
    height:100vh;
    
}

.homescreen-header {
	position: fixed;
	width: 100vw;
	background-color: #fff;
	opacity: .8;
}



@-webkit-keyframes rainbow {
    0%{background-position:0% 90%}
    50%{background-position:100% 19%}
    100%{background-position:0% 90%}
}

.homescreen-header h2 {
	font-weight: 100;
	color: #000;
	margin: 5px;
}

#homescreen-container {
	position: relative;
	height: 90vh;
}

#homescreen-header-btn {
	transform: translateY(50%);
	background-color: #fff;
	color: #fff;
	font-weight: 300;
	padding-left: 10px;
	padding-right: 10px;
	opacity: .8;
}

#homescreen-header-btn:active {
	border: none;
}

#floating-btn {
	position: fixed;
	border-radius: 75px;
}

#lg-frames {
	border: 1px solid #fff;
}

.imagesToFilter {
	padding: 0;
	margin: 0;
}

/* Side Menu */

.side-menu {
	height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #111;
    box-shadow: 1.5px 1px 1px #000;
    overflow-x: hidden;
    padding-top: 10px;
    transition: 0.5s;
    border-radius: 5px;
}

.side-menu a {
	padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    z-index: 3;
}

.side-menu .closebtn {
	position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .side-menu {padding-top: 15px;}
    .side-menu a {font-size: 18px;}
}

.block {

}

.block h5 {
	color: #000;
	font-weight: 100;
	font-size: small;
}

.tags {
	margin: 5px;
}

.tags h5 {
	color: #000;
	font-weight: 100;
}

.tags pre {
	border-radius: 3px;
	color: #000;
	opacity: .8;
	height: 400px;
}

.taggle {
	border: 1px solid #000;
	padding: 0;
}

.taggle_list {
	float: left;
	width: 50%;
	padding:0;
	width: 100%;
}

.taggle_text {
	font-family: 'Roboto', "Helvetica"!important;
	font-weight: 200;
	float: left;
}

button.close {
	color: red;
	float: right;
}

.taggle_input {font: 'Roboto', 'Helvetica', 'sans-serif' !important;
	position: relative;
	cursor: default;
	outline: 0;
	font-size: 16;
	font-weight: 200;
	border-radius: 3px;
	float: left;
}

.taggle_list li {
	font-family: 'Roboto', 'Helvetica', 'sans-serif' !important;
	float: left;
	display: inline-block;
	white-space: nowrap;
	margin-bottom: 5px;
	font-weight: 200;
	font
}

.taggle_list .taggle {
	font-family: 'Roboto', 'Helvetica', 'sans-serif' !important;
	margin-right: 8px;
	padding: 5px 5px;
	border-radius: 3px;
	position: relative;
	cursor: pointer;
	transition: all .3s;
	-webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.taggle_input {
	font-family:  'Roboto', 'Helvetica', 'sans-serif' !important;
	padding:8px;
	padding-left: 0;
	float: left;
	margin-top: -5px;
	background: none;
	width: 100%;
	max-width: 100%;
}

.taggle_sizer {
	padding: 0;
	margin: 0;
	position: absolute;
	z-index: -1;
	visibility: hidden;
}

.taggle_placeholder {
	font-family:  'Roboto', 'Helvetica', 'sans-serif' !important;
	font-weight: 200;
}

/* Share Modal */
#shareModal {
	margin-top: 25%;
	margin-left: 5%;
	margin-right: 5%;
}

#shareModalContent {
	color: #2391d3 !important;
}

.shareForm input {
	color: #fff;
}

.confirmShare-btn {
	border-bottom: 1px solid #fff !important;
	color: #fff !important;
	padding-right: 24px;
	padding-left: 24px;
}

.modal-header h3 {
	color: #fff;
	font-weight: 100;
}

/* Voice Modal */

#voiceModal {
	margin-top: 25%;
	margin-left: 5%;
	margin-right: 5%;
	background-color: #fff;
	opacity: .7;
}

#voiceRecordBtn {
	color: #fff;
	text-transform: lowercase;
	text-transform: capitalize;
	font-weight: 100;
}

#stopRecord {
	color: #fff;
	text-transform: lowercase;
	text-transform: capitalize;
	font-weight: 100;
}

/* Filter Modal */

#filterModal {
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
}

.showItem {
	display: list-item;
}

.hideItem {
	display: none;
}

#file-form{
	margin-top:20px;	
}

#uploadModal {
	margin-top: 25%;
	margin-left: 5%;
	margin-right: 5%;
}

#uploadCategorizeBtn {
	text-transform: lowercase;
	text-transform: capitalize;
	background-color: none;
	color: #fff;
	font-weight: 200 !important;
}

#upload-button{
	margin-top:10px;
}

.filter-container {

}

/* Upload Page */

.upload-header {
    position: relative;
	height: 10vh;
	height: 10%;
	border-bottom: 1px solid #fff;
}

.upload-header h2 {
	font-weight: 100;
	color: #fff;
	margin: 5px;
}

#uploadHeaderBtn {
	transform: translateY(50%);
	background-color: #000;
	color: #fff;
	font-weight: 200;
	padding-left: 10px;
	padding-right: 10px;
}
